@import "./vars";
@import "./code-theme";

.notion-app {
  top: -6px;
  background: transparent;

  @media (max-width: 768px) {
    top: 20px;
  }
}

.notion-app,
.notion-header {
  width: 100%;

  @media (max-width: 768px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.notion-header {
  margin: 0 auto;
  width: 100%;
  max-width: var(--notion-max-width) !important;
  padding-left: calc(min(12px, 8vw)) !important;
  padding-right: calc(min(12px, 8vw)) !important;

  .nav-header {
    padding: 0;
  }

  .breadcrumbs {
    overflow-x: auto;
    max-width: 630px;
  }
}

.notion-h {
  text-align: left;

  margin-left: 0;
  margin-right: 0;
}

.notion-page-icon-wrapper {
  justify-content: left;
}

.notion-asset-wrapper-video {
  max-width: 1px;

  &>div {
    height: auto !important;
  }
}

.notion-page-has-cover .notion-page-icon {
  margin: 0 !important;
}

.notion-collection {
  @media (max-width: 768px) {
    width: 100%;
  }
}

.from-notion {
  //max-width: 900px;
  max-width: none;
  margin-bottom: 0;
  grid-gap: 24px;

  @media screen and (max-width: 899px) {
    display: flex;
    flex-direction: column;
  }

  .chapter-group {
    padding-bottom: 20px;

    @media (max-width: 768px) {
      padding-bottom: 32px;
    }

    @media screen and (min-width: 900px) {
      padding: 20px 16px;
      min-height: 220px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px dashed var(--gray200);
      border-radius: 6px;
    }
  }


  h3 {
    font-weight: 800;
    letter-spacing: -0.02em;
    font-size: 38px;
    text-align: center;
    max-width: 800px;
    line-height: 1.2em;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  h4,
  h5 {
    font-weight: 500;
    font-size: 17px;
    padding: 3px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3;
    width: auto;
    display: inline-block;
  }

  h4 {
    font-weight: 600;

    .emoji {
      width: $emoji-width;
      display: inline-block;
    }
  }

  h5 {
    display: table;
    padding-left: calc(#{$emoji-width} + 3px);
    padding-bottom: 6px;

    & {
      position: relative;

      a {
        color: var(--gray900);
        ;
        background: none;
      }

      &:hover,
      &:focus {

        a {
          border-bottom: 0.05em solid rgba(55, 53, 47, 0.25) !important;
        }

        &:before {
          content: "";
          position: absolute;
          background-size: 16px;
          background-repeat: no-repeat;
          width: 16px;
          height: 16px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' style='width:100%25;height:100%25;display:block;fill:inherit;flex-shrink:0;-webkit-backface-visibility:hidden' class='alias'%3E%3Cpath d='M13.646 10.879V3.084c0-.473-.298-.788-.78-.788l-7.794.016c-.465 0-.764.34-.764.73 0 .39.34.723.73.723h2.466l3.951-.15-1.502 1.329-7.413 7.429a.733.733 0 00-.232.506c0 .39.348.764.755.764.19 0 .365-.075.515-.224l7.42-7.43 1.337-1.502-.158 3.777v2.648c0 .382.332.73.739.73.39 0 .73-.323.73-.763z'%3E%3C/path%3E%3C/svg%3E");
          display: inline-block;
          left: 8px;
          top: 5px;
        }
      }

      // &::after {
      //   content: "free";
      //   background: $red;
      //   border-radius: 3px;
      //   color: #ffffff;
      //   display: inline-block;
      //   font-size: 9px;
      //   font-weight: 600;
      //   letter-spacing: 0.1em;
      //   margin-left: 5px;
      //   padding: 2px 3px 2px 4px;
      //   text-transform: uppercase;
      //   vertical-align: middle;
      //   margin-top: -9px;
      // }
    }
  }
}